.main {
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
}
.main .title {
	background:url(../../statics/images/ztct/h1bg.png) no-repeat left center;
	text-indent: 15px;
	font-size: 19px;
	color:#ff7d13;
	width: 60%;
	margin: auto;
}
.main .content {
	margin-top: 50px;
	text-justify: auto;
	text-align: justify;
	line-height: 30px;
}

.main  .inputtime {
	width: 300px;
	float: right;
}
