 {template "content","header"}

{php $id = $_GET[id];}
{php $url = $_SERVER['REQUEST_URI'];}
{php $url = preg_replace('/(&|\?)id=[^&]+/', '', $url)}



<link rel="stylesheet" href="/muban/style/list.css" />
<link rel="stylesheet" href="/muban/style/category.css" />

<!--left menu-->
<div class="base">
	<div class="content">
		<table >
			<tr>
				<!-- menu -->
				<td width="15%" class="menu">
					<ul>
			   			{loop subcat($catid)  $v} 
			   				{php if (!isset($id)) $id=$v[catid]}
			   				{php if ($id == $v[catid]) $current_cat = $v}
			   			
			   				<li {if ($id==$v[catid])} class="active" {/if}  >
			   					<h2><a href="{$url}&id={$v[catid]}">{$v[catname]}</a></h2>
			   				</li>
						{/loop}
			   		</ul>
				</td>
				
				
				<td>
					<h1 class="title color-main border-bottom">
						{$current_cat[description]}
					</h1>
					
						
					{pc:content  action="lists" catid="$id" order="id DESC" num="3" moreinfo="1" page="$page"}
						<ul class="mt20 data-list" >
							 {loop $data $r}
							 <li > 
							 	<h3><a href="{$r[url]}">{$r[title]}</a> &nbsp;&nbsp;&nbsp;<span class="date">{date("Y-m-d", $r[inputtime])}</span></h3>
							 	<table>
							 		<tr>
							 			<td class="data-img"><img src="{$r[picture]}"/></td>
							 			<td class="data-content2"><div class="text-border">{$r[description]}</div></td>
							 		</tr>
							 	</table>
							 </li>
							 {/loop}
						 </ul>
					 {/pc}
							
		   					
					<div id="pages" class="text-c">{$pages}</div>
					
				</td>
			</tr>
			
			
		</table>
		

	</div>
</div>

{template "content","footer"}
</body>

</html>