<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="/muban/style/css.css" rel="stylesheet" type="text/css" />
<script src="/muban/Scripts/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$('#weixin').click(function(){
			$(".weixin-code").fadeIn();
		});
		$('.weixin-code').click(function(){
			$(".weixin-code").fadeOut();
		});
	})
</script>
</head>
<body>
<!--[if IE 6]>
<script type="text/javascript" src="/muban/Scripts/TheFuckingIE6_PNG.js"></script>
<script type="text/javascript">
 DD_belatedPNG.fix('.customer');
</script>
<![endif]-->




	 
	 
	 
<div class="base top">
<p>

<img src="/statics/images/ztct/phone.png" />
<a href='#'>0851-86720668</a>
<img src="/statics/images/ztct/weixin.png" />
<a id="weixin" href="#">关注我们</a>
<img class="weixin-code" src="/statics/images/ztct/weixin-code.png" />
</p>
</div>
<div class="nav">
	<div class="logo">
		<img src="/statics/images/ztct/logo.png" />
	</div>
	<div class="shadow">
	</div>
<ul>


    	{pc:content action="category" catid="0" num="7" siteid="$siteid" order="listorder ASC"}
      		
			<li><a href="/">首页</a></li>
			{loop $data $r}
			<li  ><a {if ($_GET['catid'] == $r[catid])} class="color-main" {/if} href="{$r[url]}">{$r[catname]}</a></li>
			{/loop}

        {/pc}

</ul>
</div>
<div class="clear"></div>

