{template "content","header"}


<div class="base mt10" id="here">

<div class="insideR">
<h2>{$CATEGORYS[$catid][catname]}</h2>

<h3>{$title}</h3>      
<p>


{$content}

</p>
<p class="page">上一页：<span id="k_nextpage"><a href="{$previous_page[url]}">{$previous_page[title]}</a></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下一页：<span id="k_lastpage"><a href="{$next_page[url]}">{$next_page[title]}</a></span></p>
</div>
</div>


{template "content","footer"}



<script type="text/javascript" src="/muban/Scripts/Xslider.js"></script>
<script src="/muban/Scripts/BannerChange.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$(".productshow").Xslider({
		unitdisplayed:1,
		numtoMove:1,
		loop:"cycle",
		autoscroll:2000 
	});
	
})
 </script>
 </body>
</html>